# Ignore Gradle project-specific cache directory
.gradle/*

# Ignore Gradle build output directory
build/*
out/*

# Ignore Idea files
.idea/*

# webjs yarn
src/main/web/node_modules/*
src/main/web/build/*
yarn.lock
